<div class="clr-row">
    <!-- Left column - Text Area -->
    <div class="clr-col-6">
        <!-- Heading -->
        <div class="clr-row">
            <div class="clr-col">
                <h2>Markdown Editor</h2>
            </div>
        </div>

        <!-- Markdown - txt area -->
        <div [formGroup]="markdownForm" class="clr-row"> 
            <textarea formControlName="markdownTextarea"  rows="25"></textarea>
        </div>
    </div>

    <!-- Right column - Markdown Preview -->
    <div class="clr-col-6">
        <!-- Heading -->
        <div class="clr-row">
            <div class="clr-col">
                <h2>Preview</h2>
            </div>
        </div>

        <!-- Heading -->
        <div class="clr-row">
            <div class="clr-col">
                <markdown [data]="(markdownForm.get('markdownTextarea').valueChanges | async)"></markdown>
            </div>
        </div>
    </div>
</div>
