<div class="main-container">

    <!-- Navigation bar -->
    <header class="header-6">
        <!-- Branding -->
        <div class="branding">
            <a href="/" class="nav-link">
                <clr-icon shape="vm-bug"></clr-icon>
                <span class="title">Vulnerable</span>
            </a>
        </div>

        <!-- Primary navigation -->
        <div class="header-nav"></div>

        <!-- Actions -->
        <div class="header-actions"></div>

    </header>

    <!-- Content container -->
    <div class="content-container">

        <!-- Main Content -->
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>

        <!-- Side navigation -->
        <nav class="sidenav">
            <section class="sidenav-content">

                <!-- XSS -->
                <section class="nav-group">
                    <input id="nav-xss" type="checkbox">
                    <label for="nav-xss">Cross-Site Scripting</label>
                    <ul class="nav-list">
                        <li><a class="nav-link" routerLink="/xss/breadcrumbs">Breadcrumbs 1</a></li>
                        <li><a class="nav-link" routerLink="/xss/<a href='javascript:alert(%22Uh oh... 😢%22)'>Breadcrumbs 2">Breadcrumbs 2</a></li>
                    </ul>
                </section>
            </section>
        </nav>

    </div>

</div>